body {
    background: #FFCC00;
}

h1 {
    color: purple;
    background-color: lightpink;   
    text-align: right;
}

.bold{
    font-weight: bold
}

.banners img{
    width:49%;
}

prg{
    font-size: 28vh;75vw
    align-content: center
    }

@media only screen and (max-width: 600px) {
    body{
        background: blue;
    }
    .banners img{
        width: 100%;
    }


